<h1>Listing games</h1>

<table>
  <tr>
    <th>Round</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.round %></td>
    <%if(game.votes.length < 20)%>
    <td><a href="/votes/new?team=A组&game_id=<%=game.id%>">A组开始<a/></td>
    <td><a href="/votes/new?team=B组&game_id=<%=game.id%>">B组开始<a/></td>
    <%else%>
    <td>游戏结束</td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
